-- CreateEnum
CREATE TYPE "PapelUsuario" AS ENUM ('ADMINISTRADOR', 'PROFESSOR', 'ALUNO', 'RESPONSAVEL');

-- CreateEnum
CREATE TYPE "StatusMatricula" AS ENUM ('ATIVA', 'TRANCADA', 'TRANSFERIDA', 'CONCLUIDA', 'CANCELADA');

-- CreateEnum
CREATE TYPE "Status" AS ENUM ('ATIVO', 'SUSPENSO', 'INATIVO');

-- CreateEnum
CREATE TYPE "StatusFinanceiro" AS ENUM ('PENDENTE', 'PAGO', 'ATRASADO', 'CANCELADO');

-- CreateEnum
CREATE TYPE "TipoPendencia" AS ENUM ('MENSALIDADE', 'EVENTO', 'PRODUTO');

-- CreateEnum
CREATE TYPE "MetodoPagamento" AS ENUM ('PIX', 'BOLETO', 'CARTAO', 'DINHEIRO', 'TRANSFERENCIA');

-- CreateEnum
CREATE TYPE "TipoDia" AS ENUM ('LETIVO_EXTRA', 'NAO_LETIVO_FERIADO', 'NAO_LETIVO_RECESSO', 'REUNIAO_PEDAGOGICA', 'EVENTO_ESCOLAR');

-- CreateEnum
CREATE TYPE "TipoAtividade" AS ENUM ('PROVA', 'TRABALHO', 'SEMINARIO', 'OUTRO');

-- CreateEnum
CREATE TYPE "TipoAlerta" AS ENUM ('INFO', 'AVISO', 'URGENTE');

-- CreateEnum
CREATE TYPE "StatusFrequencia" AS ENUM ('PRESENTE', 'AUSENTE', 'ATRASO');

-- CreateTable
CREATE TABLE "Conta" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Conta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Sessao" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Sessao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "Escola" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "cnpj" TEXT,
    "endereco" TEXT,
    "telefone" TEXT,
    "email" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Escola_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "nome" TEXT,
    "email" TEXT NOT NULL,
    "emailVerificado" TIMESTAMP(3),
    "imagem" TEXT,
    "senhaHash" TEXT NOT NULL,
    "dataHoraCadastro" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deletedAt" TIMESTAMP(3),
    "status" "Status" NOT NULL DEFAULT 'ATIVO',
    "dataNascimento" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserEscola" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "escolaId" TEXT NOT NULL,
    "papel" "PapelUsuario" NOT NULL DEFAULT 'ALUNO',
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserEscola_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Matricula" (
    "id" TEXT NOT NULL,
    "alunoId" TEXT NOT NULL,
    "turmaId" TEXT,
    "status" "StatusMatricula" NOT NULL DEFAULT 'ATIVA',
    "dataMatricula" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataFim" TIMESTAMP(3),
    "numero" TEXT NOT NULL,
    "sequencial" INTEGER NOT NULL,

    CONSTRAINT "Matricula_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AnoLetivo" (
    "id" TEXT NOT NULL,
    "ano" INTEGER NOT NULL,
    "escolaId" TEXT NOT NULL,
    "anoAtual" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "AnoLetivo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Serie" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "escolaId" TEXT NOT NULL,

    CONSTRAINT "Serie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Turma" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "serieId" TEXT NOT NULL,
    "anoLetivoId" TEXT NOT NULL,
    "escolaId" TEXT NOT NULL,

    CONSTRAINT "Turma_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Disciplina" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "escolaId" TEXT NOT NULL,
    "sigla" TEXT NOT NULL,

    CONSTRAINT "Disciplina_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Professor" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "cpf" TEXT NOT NULL,
    "dataFimContrato" TIMESTAMP(3),
    "dataInicioContrato" TIMESTAMP(3) NOT NULL,
    "salarioBase" DECIMAL(65,30) NOT NULL,
    "tipoContrato" TEXT NOT NULL,

    CONSTRAINT "Professor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Aluno" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "anoTransferido" INTEGER,
    "escolaTransferida" TEXT,
    "nacionalidade" TEXT,
    "naturalidade" TEXT,
    "bairroEndereco" TEXT,
    "cep" TEXT,
    "cidadeEndereco" TEXT,
    "estadoEndereco" TEXT,
    "numeroEndereco" TEXT,
    "ruaEndereco" TEXT,

    CONSTRAINT "Aluno_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QuestionarioPergunta" (
    "id" TEXT NOT NULL,
    "escolaId" TEXT NOT NULL,
    "pergunta" TEXT NOT NULL,
    "tipo" TEXT,
    "ativa" BOOLEAN NOT NULL DEFAULT true,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "alunoId" TEXT,

    CONSTRAINT "QuestionarioPergunta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QuestionarioResposta" (
    "id" TEXT NOT NULL,
    "alunoId" TEXT NOT NULL,
    "perguntaId" TEXT NOT NULL,
    "resposta" TEXT,
    "dataRegistro" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "QuestionarioResposta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResponsavelAluno" (
    "id" TEXT NOT NULL,
    "alunoId" TEXT NOT NULL,
    "parentesco" TEXT,
    "nome" TEXT NOT NULL,
    "telefone" TEXT NOT NULL,

    CONSTRAINT "ResponsavelAluno_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TurmaDisciplina" (
    "id" TEXT NOT NULL,
    "turmaId" TEXT NOT NULL,
    "disciplinaId" TEXT NOT NULL,
    "professorId" TEXT,
    "alunoId" TEXT,

    CONSTRAINT "TurmaDisciplina_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Nota" (
    "id" TEXT NOT NULL,
    "valor" DOUBLE PRECISION NOT NULL,
    "descricao" TEXT,
    "dataLancamento" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "alunoId" TEXT NOT NULL,
    "professorId" TEXT NOT NULL,
    "turmaDisciplinaId" TEXT,
    "atividadeTurmaId" TEXT,

    CONSTRAINT "Nota_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Frequencia" (
    "id" TEXT NOT NULL,
    "data" TIMESTAMP(3) NOT NULL,
    "observacao" TEXT,
    "alunoId" TEXT NOT NULL,
    "turmaDisciplinaId" TEXT NOT NULL,
    "status" "StatusFrequencia" NOT NULL DEFAULT 'PRESENTE',

    CONSTRAINT "Frequencia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Evento" (
    "id" TEXT NOT NULL,
    "escolaId" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "dataEvento" TIMESTAMP(3) NOT NULL,
    "local" TEXT,
    "valor" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "vagas" INTEGER,
    "dataLimite" TIMESTAMP(3),
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Evento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ParticipanteEvento" (
    "id" TEXT NOT NULL,
    "eventoId" TEXT NOT NULL,
    "alunoId" TEXT NOT NULL,
    "confirmado" BOOLEAN NOT NULL DEFAULT false,
    "dataConfirmacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "pendenciaId" TEXT,

    CONSTRAINT "ParticipanteEvento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pendencia" (
    "id" TEXT NOT NULL,
    "escolaId" TEXT NOT NULL,
    "alunoId" TEXT NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "descricao" TEXT NOT NULL,
    "dataVencimento" TIMESTAMP(3) NOT NULL,
    "status" "StatusFinanceiro" NOT NULL DEFAULT 'PENDENTE',
    "tipo" "TipoPendencia" NOT NULL DEFAULT 'EVENTO',
    "mesReferencia" INTEGER,
    "anoReferencia" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Pendencia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pagamento" (
    "id" TEXT NOT NULL,
    "pendenciaId" TEXT NOT NULL,
    "metodo" "MetodoPagamento" NOT NULL,
    "valorPago" DECIMAL(10,2) NOT NULL,
    "dataPagamento" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "comprovanteUrl" TEXT,
    "transacaoId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "escolaId" TEXT NOT NULL,

    CONSTRAINT "Pagamento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CalendarioEscolar" (
    "id" TEXT NOT NULL,
    "escolaId" TEXT NOT NULL,
    "anoLetivoId" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "dataInicio" TIMESTAMP(3) NOT NULL,
    "dataFim" TIMESTAMP(3) NOT NULL,
    "tipo" "TipoDia" NOT NULL DEFAULT 'LETIVO_EXTRA',
    "bloqueiaAula" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "CalendarioEscolar_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CicloLetivo" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "dataInicio" TIMESTAMP(3) NOT NULL,
    "dataFim" TIMESTAMP(3) NOT NULL,
    "escolaId" TEXT NOT NULL,
    "anoLetivoId" TEXT NOT NULL,
    "pontuacaoMaxima" DOUBLE PRECISION NOT NULL DEFAULT 10.0,

    CONSTRAINT "CicloLetivo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AtividadeTurma" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "data" TIMESTAMP(3) NOT NULL,
    "tipo" "TipoAtividade" NOT NULL,
    "turmaId" TEXT NOT NULL,
    "cicloId" TEXT,
    "disciplinaId" TEXT,
    "valorMaximo" DOUBLE PRECISION NOT NULL DEFAULT 10.0,

    CONSTRAINT "AtividadeTurma_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Alerta" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "mensagem" TEXT NOT NULL,
    "tipo" "TipoAlerta" NOT NULL DEFAULT 'INFO',
    "papel" "PapelUsuario",
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "expiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Alerta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Planejamento" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "assuntos" TEXT,
    "objetivos" TEXT,
    "data" TIMESTAMP(3) NOT NULL,
    "turmaId" TEXT NOT NULL,
    "disciplinaId" TEXT NOT NULL,
    "professorId" TEXT,
    "escolaId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Planejamento_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Conta_provider_providerAccountId_key" ON "Conta"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Sessao_sessionToken_key" ON "Sessao"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- CreateIndex
CREATE UNIQUE INDEX "Escola_cnpj_key" ON "Escola"("cnpj");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "UserEscola_userId_escolaId_key" ON "UserEscola"("userId", "escolaId");

-- CreateIndex
CREATE UNIQUE INDEX "Matricula_numero_key" ON "Matricula"("numero");

-- CreateIndex
CREATE UNIQUE INDEX "Matricula_turmaId_sequencial_key" ON "Matricula"("turmaId", "sequencial");

-- CreateIndex
CREATE UNIQUE INDEX "AnoLetivo_ano_escolaId_key" ON "AnoLetivo"("ano", "escolaId");

-- CreateIndex
CREATE UNIQUE INDEX "Serie_nome_escolaId_key" ON "Serie"("nome", "escolaId");

-- CreateIndex
CREATE UNIQUE INDEX "Turma_codigo_key" ON "Turma"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "Turma_nome_serieId_anoLetivoId_escolaId_key" ON "Turma"("nome", "serieId", "anoLetivoId", "escolaId");

-- CreateIndex
CREATE UNIQUE INDEX "Turma_codigo_escolaId_key" ON "Turma"("codigo", "escolaId");

-- CreateIndex
CREATE UNIQUE INDEX "Disciplina_nome_escolaId_key" ON "Disciplina"("nome", "escolaId");

-- CreateIndex
CREATE UNIQUE INDEX "Disciplina_sigla_escolaId_key" ON "Disciplina"("sigla", "escolaId");

-- CreateIndex
CREATE UNIQUE INDEX "Professor_usuarioId_key" ON "Professor"("usuarioId");

-- CreateIndex
CREATE UNIQUE INDEX "Professor_cpf_key" ON "Professor"("cpf");

-- CreateIndex
CREATE UNIQUE INDEX "Aluno_usuarioId_key" ON "Aluno"("usuarioId");

-- CreateIndex
CREATE UNIQUE INDEX "QuestionarioResposta_alunoId_perguntaId_key" ON "QuestionarioResposta"("alunoId", "perguntaId");

-- CreateIndex
CREATE UNIQUE INDEX "TurmaDisciplina_turmaId_disciplinaId_key" ON "TurmaDisciplina"("turmaId", "disciplinaId");

-- CreateIndex
CREATE UNIQUE INDEX "Frequencia_alunoId_turmaDisciplinaId_data_key" ON "Frequencia"("alunoId", "turmaDisciplinaId", "data");

-- CreateIndex
CREATE INDEX "Evento_escolaId_idx" ON "Evento"("escolaId");

-- CreateIndex
CREATE UNIQUE INDEX "ParticipanteEvento_pendenciaId_key" ON "ParticipanteEvento"("pendenciaId");

-- CreateIndex
CREATE UNIQUE INDEX "ParticipanteEvento_eventoId_alunoId_key" ON "ParticipanteEvento"("eventoId", "alunoId");

-- CreateIndex
CREATE INDEX "Pendencia_escolaId_idx" ON "Pendencia"("escolaId");

-- CreateIndex
CREATE INDEX "Pendencia_alunoId_idx" ON "Pendencia"("alunoId");

-- CreateIndex
CREATE UNIQUE INDEX "Pendencia_alunoId_mesReferencia_anoReferencia_tipo_key" ON "Pendencia"("alunoId", "mesReferencia", "anoReferencia", "tipo");

-- CreateIndex
CREATE UNIQUE INDEX "Pagamento_pendenciaId_key" ON "Pagamento"("pendenciaId");

-- CreateIndex
CREATE INDEX "Pagamento_escolaId_idx" ON "Pagamento"("escolaId");

-- CreateIndex
CREATE INDEX "Pagamento_dataPagamento_idx" ON "Pagamento"("dataPagamento");

-- CreateIndex
CREATE INDEX "CalendarioEscolar_escolaId_anoLetivoId_idx" ON "CalendarioEscolar"("escolaId", "anoLetivoId");

-- CreateIndex
CREATE INDEX "CicloLetivo_escolaId_anoLetivoId_idx" ON "CicloLetivo"("escolaId", "anoLetivoId");

-- CreateIndex
CREATE INDEX "AtividadeTurma_turmaId_data_idx" ON "AtividadeTurma"("turmaId", "data");

-- CreateIndex
CREATE INDEX "Alerta_ativo_papel_idx" ON "Alerta"("ativo", "papel");

-- CreateIndex
CREATE INDEX "Alerta_expiresAt_idx" ON "Alerta"("expiresAt");

-- CreateIndex
CREATE INDEX "Planejamento_turmaId_disciplinaId_idx" ON "Planejamento"("turmaId", "disciplinaId");

-- CreateIndex
CREATE INDEX "Planejamento_escolaId_idx" ON "Planejamento"("escolaId");

-- AddForeignKey
ALTER TABLE "Conta" ADD CONSTRAINT "Conta_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Sessao" ADD CONSTRAINT "Sessao_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserEscola" ADD CONSTRAINT "UserEscola_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserEscola" ADD CONSTRAINT "UserEscola_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Matricula" ADD CONSTRAINT "Matricula_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "Aluno"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Matricula" ADD CONSTRAINT "Matricula_turmaId_fkey" FOREIGN KEY ("turmaId") REFERENCES "Turma"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AnoLetivo" ADD CONSTRAINT "AnoLetivo_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Serie" ADD CONSTRAINT "Serie_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Turma" ADD CONSTRAINT "Turma_anoLetivoId_fkey" FOREIGN KEY ("anoLetivoId") REFERENCES "AnoLetivo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Turma" ADD CONSTRAINT "Turma_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Turma" ADD CONSTRAINT "Turma_serieId_fkey" FOREIGN KEY ("serieId") REFERENCES "Serie"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Disciplina" ADD CONSTRAINT "Disciplina_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Professor" ADD CONSTRAINT "Professor_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Aluno" ADD CONSTRAINT "Aluno_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestionarioPergunta" ADD CONSTRAINT "QuestionarioPergunta_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "Aluno"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestionarioPergunta" ADD CONSTRAINT "QuestionarioPergunta_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestionarioResposta" ADD CONSTRAINT "QuestionarioResposta_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "Aluno"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestionarioResposta" ADD CONSTRAINT "QuestionarioResposta_perguntaId_fkey" FOREIGN KEY ("perguntaId") REFERENCES "QuestionarioPergunta"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResponsavelAluno" ADD CONSTRAINT "ResponsavelAluno_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "Aluno"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TurmaDisciplina" ADD CONSTRAINT "TurmaDisciplina_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "Aluno"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TurmaDisciplina" ADD CONSTRAINT "TurmaDisciplina_disciplinaId_fkey" FOREIGN KEY ("disciplinaId") REFERENCES "Disciplina"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TurmaDisciplina" ADD CONSTRAINT "TurmaDisciplina_professorId_fkey" FOREIGN KEY ("professorId") REFERENCES "Professor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TurmaDisciplina" ADD CONSTRAINT "TurmaDisciplina_turmaId_fkey" FOREIGN KEY ("turmaId") REFERENCES "Turma"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Nota" ADD CONSTRAINT "Nota_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "Aluno"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Nota" ADD CONSTRAINT "Nota_atividadeTurmaId_fkey" FOREIGN KEY ("atividadeTurmaId") REFERENCES "AtividadeTurma"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Nota" ADD CONSTRAINT "Nota_professorId_fkey" FOREIGN KEY ("professorId") REFERENCES "Professor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Nota" ADD CONSTRAINT "Nota_turmaDisciplinaId_fkey" FOREIGN KEY ("turmaDisciplinaId") REFERENCES "TurmaDisciplina"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Frequencia" ADD CONSTRAINT "Frequencia_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "Aluno"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Frequencia" ADD CONSTRAINT "Frequencia_turmaDisciplinaId_fkey" FOREIGN KEY ("turmaDisciplinaId") REFERENCES "TurmaDisciplina"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Evento" ADD CONSTRAINT "Evento_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParticipanteEvento" ADD CONSTRAINT "ParticipanteEvento_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "Aluno"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParticipanteEvento" ADD CONSTRAINT "ParticipanteEvento_eventoId_fkey" FOREIGN KEY ("eventoId") REFERENCES "Evento"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParticipanteEvento" ADD CONSTRAINT "ParticipanteEvento_pendenciaId_fkey" FOREIGN KEY ("pendenciaId") REFERENCES "Pendencia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pendencia" ADD CONSTRAINT "Pendencia_alunoId_fkey" FOREIGN KEY ("alunoId") REFERENCES "Aluno"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pendencia" ADD CONSTRAINT "Pendencia_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pagamento" ADD CONSTRAINT "Pagamento_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pagamento" ADD CONSTRAINT "Pagamento_pendenciaId_fkey" FOREIGN KEY ("pendenciaId") REFERENCES "Pendencia"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CalendarioEscolar" ADD CONSTRAINT "CalendarioEscolar_anoLetivoId_fkey" FOREIGN KEY ("anoLetivoId") REFERENCES "AnoLetivo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CalendarioEscolar" ADD CONSTRAINT "CalendarioEscolar_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CicloLetivo" ADD CONSTRAINT "CicloLetivo_anoLetivoId_fkey" FOREIGN KEY ("anoLetivoId") REFERENCES "AnoLetivo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CicloLetivo" ADD CONSTRAINT "CicloLetivo_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtividadeTurma" ADD CONSTRAINT "AtividadeTurma_cicloId_fkey" FOREIGN KEY ("cicloId") REFERENCES "CicloLetivo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtividadeTurma" ADD CONSTRAINT "AtividadeTurma_disciplinaId_fkey" FOREIGN KEY ("disciplinaId") REFERENCES "Disciplina"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtividadeTurma" ADD CONSTRAINT "AtividadeTurma_turmaId_fkey" FOREIGN KEY ("turmaId") REFERENCES "Turma"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Planejamento" ADD CONSTRAINT "Planejamento_disciplinaId_fkey" FOREIGN KEY ("disciplinaId") REFERENCES "Disciplina"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Planejamento" ADD CONSTRAINT "Planejamento_escolaId_fkey" FOREIGN KEY ("escolaId") REFERENCES "Escola"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Planejamento" ADD CONSTRAINT "Planejamento_professorId_fkey" FOREIGN KEY ("professorId") REFERENCES "Professor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Planejamento" ADD CONSTRAINT "Planejamento_turmaId_fkey" FOREIGN KEY ("turmaId") REFERENCES "Turma"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

